<%- include('header'); -%>
<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Meta Tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
        <link href="https://pro.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <link rel="stylesheet" href="/index.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <link rel="stylesheet" href="/sweetalert.css">
        
        <title>
            nexusx | Dashboard
        </title>
    </head>  

        
    <script>
        $(window).bind('beforeunload', function(){
            return 'Are you sure you want to leave?';
        });
        </script>
 


    <body>
        <!--MAIN BODY-->
        <section>
<br>
            <br>
            <div class="form-body">
                
                <div class="form-holder">
                    <div class="form-content">
                        <div class="form-items">
                            <p><b><font size="5"><font color="red">Make sure, to enable <i>ALL Intents</i> in the Developer Portal</font></b></p></font>
                            <form method="POST" id ="createBotForm">
                                <h5 style="margin-bottom: 0.5rem; margin-top: 10px;color:#6861fe"><b><font size="4">Order-Channel</font></b</h5>
                                <p style="font-style: italic;" class="disabled">Select the Customer Ticket! [Ticket - Categories are greyed out for Orientation]</p>
                                <select required class="form-control"data-width="100%"data-height="100%"data-live-search="true" autocomplete="off"  required="" aria-label="Ticket Channel"name="channel">
                                  
                                  <% if(milratoGuild.channels.cache.get("964370140986736725") && milratoGuild.channels.cache.get("964370141452312606").children && milratoGuild.channels.cache.get("965412925185589298").children.size >= 1) { %>
                                  <option disabled > #<%= milratoGuild.channels.cache.get("964370140986736725").name %></option>
                                  <% [...milratoGuild.channels.cache.get("964370140986736725").children.values()].sort((a, b) => a.rawPosition - b.rawPosition).forEach((channel, i) => { %>
                                      <option value="<%= channel.id %>"> #<%= channel.name %></option>
                                  <% })} %>
                                  </div>

                                  <% if(milratoGuild.channels.cache.get("964370141452312606") && milratoGuild.channels.cache.get("964370141452312606").children && milratoGuild.channels.cache.get("964370141452312606").children.size >= 1) { %>
                                  <option disabled> #<%= milratoGuild.channels.cache.get("964370141452312606").name %></option>
                                  <% [...milratoGuild.channels.cache.get("964370141452312606").children.values()].sort((a, b) => a.rawPosition - b.rawPosition).forEach((channel, i) => { %>
                                      <option value="<%= channel.id %>"> #<%= channel.name %></option>
                                  <% })} %>
                                </select>
                                <br>
                                <h5 style="margin-bottom: 0.5rem; margin-top: 10px;color:#6861fe"><b><font size="4">Bot Type</font></b</h5>
                                    <p style="font-style: italic;" class="disabled">The Bot Type to Create, <b>System Bot or Music Bot</b> | More Templates will come soon.</p>
                                <div style="margin-top: -10px;" class="form-group">
                                    <select required class="form-control" name="bottype">
                                        <option selected value="SYSTEMBOTS">🤖 System Bot</option>
                                        <option value="MusicBots">🎵 Music Bot</option>
                                    </select>
                                  </div>
                                <br>

                                <h5 style="margin-bottom: 0.5rem; margin-top: 10px;color:#6861fe"><b><font size="4">Prefix</font></b</h5>
                                    <p style="font-style: italic;" class="disabled">The prefix that is added to discord messages in order to invoke commands.</p>
                                <input maxlength="5" minlength="1" required style="margin-top: -10px;" type="text" class="form-control" name="prefix" placeholder="!">
                                <br>
                                
                                <h5 style="margin-bottom: 0.5rem; margin-top: 10px;color:#6861fe"><b><font size="4">Status</font></b</h5>
                                    <p style="font-style: italic;" class="disabled">The Status to display</p>
                                <input maxlength="128" minlength="1" required style="margin-top: -10px;" type="text" class="form-control" name="status" placeholder="!help | by: discord.gg/nexusx">
                                <br>
                                
                                <h5 style="margin-bottom: 0.5rem; margin-top: 10px;color:#6861fe"><b><font size="4">Statustype</font></b</h5>
                                    <p style="font-style: italic;" class="disabled">The Status display type! Example: Playing ....</p>
                                <div style="margin-top: -10px;" class="form-group">
                                    <select required class="form-control" name="statustype">
                                        <option selected value="PLAYING">🏃 PLAYING</option>
                                        <option value="WATCHING">📺 WATCHING</option>
                                        <option value="LISTENING">🎧 LISTENING</option>
                                        <option value="STREAMING">💻 STREAMING</option>
                                        <option value="COMPETING">⚔️ COMPETING</option>
                                    </select>
                                  </div>
                                <br>
                                
                                <h5 style="margin-bottom: 0.5rem; margin-top: 10px;color:#6861fe"><b><font size="4">Token</font></b</h5>
                                    <p style="font-style: italic;" class="disabled">The Token of the Bot, you are creating</p>
                                <input type="password" maxlength="59" minlength="59" required style="margin-top: -10px;" type="text" class="form-control" name="token" placeholder="lsaiihdaOASUidnasdlaj.ax^1!ashS">
                                <br>
                                
                                <h5 style="margin-bottom: 0.5rem; margin-top: 10px;color:#6861fe"><b><font size="4">Owner ID</font></b</h5>
                                    <p style="font-style: italic;" class="disabled">The ID of the USER who, OWNS the BOT</p>
                                <input maxlength="19" minlength="17" required style="margin-top: -10px;" type="text" class="form-control" name="owner" placeholder="717416034478456925">
                                <br>
                                
                                <h5 style="margin-bottom: 0.5rem; margin-top: 10px;color:#6861fe"><b><font size="4">Avatar URL</font></b</h5>
                                    <p style="font-style: italic;" class="disabled">The Avatar of the Bot</p>
                                <input required style="margin-top: -10px;" type="text" class="form-control" name="avatar" placeholder="https://cdn.discordapp.com/attachments/936985190016897055/938911526683811860/LOGOTRANSPARENT.png">
                                <br>
                                
                                <h5 style="margin-bottom: 0.5rem; margin-top: 10px;color:#6861fe"><b><font size="4">Footertext</font></b</h5>
                                    <p style="font-style: italic;" class="disabled">The Footertext, just take the BOTNAME, if the customer didn't say smt</p>
                                <input maxlength="50" minlength="3" required style="margin-top: -10px;" type="text" class="form-control" name="footertext" placeholder="BOT NAME">
                                <br>
                                
                                <h5 style="margin-bottom: 0.5rem; margin-top: 10px;color:#6861fe"><b><font size="4">Color</font></b</h5>
                                    <p style="font-style: italic;" class="disabled">The Color for the EMBEDS.</p>
                                    <input required style="margin-top: -10px;" type="color" class="form-control" value="#5865F2" name="color">

                                <br>
                                
                                <h5 style="margin-bottom: 0.5rem; margin-top: 10px;color:#6861fe"><b><font size="4">Filename</font></b</h5>
                                    <p style="font-style: italic;" class="disabled">The Filename, where the Bot is stored at! [<font color="red">Bot Name without any spaces!</font>]</p>
                                <input maxlength="32" minlength="5" required style="margin-top: -10px;" type="text" class="form-control" name="filename" placeholder="BOT_NAME">
                                <br>
                                
                                <h5 style="margin-bottom: 0.5rem; margin-top: 10px;color:#6861fe"><b><font size="4">BOT ID</font></b</h5>
                                    <p style="font-style: italic;" class="disabled">The Id of the BOT.</p>
                                <input maxlength="19" minlength="17" required style="margin-top: -10px;" type="text" class="form-control" name="botid" placeholder="938176229918531604">
                                <br>
                                
                                
                                <div class="text-center">
                               <center><button class="text-white bg-green-600/20 hover:bg-green-600/30 px-8 py-4 rounded-md shadow-xl transition-all duration-150"><font size="5">Create Bot</font></button></center> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
      </section></center>

    <script>
        // grab the form from the DOM
         const form = document.querySelector('#createBotForm');
         form.addEventListener('submit', evt => {
            evt.preventDefault();
            Swal.fire({
                title: 'Are you sure?',
                text: "After Creating the Bot, you can't edit it!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, create it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    if(<%=botClient.createingbotmap.has("Creating") ? true : false %>) {
                        return Swal.fire({
                            icon: 'error',
                            title: 'Someone else is alread creating a Bot',
                            text: 'Please Retry, once he/she is finished!',
                            timer: 5000,
                            showCloseButton: true
                        })
                    }
                    form.submit();
                    Swal.fire({
                        icon: 'success',
                        title: 'Now Trying to Create the Bot',
                        text: 'Please wait around about 5 - 10 Seconds, until the Bot is created!',
                        timer: 5000,
                        showCloseButton: true
                    })
                }
            })
         })
    </script>
    
<script>
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('success') && urlParams.get('success')) {
        Swal.fire({
            icon: 'success',
            title: 'Success!',
            showCloseButton: true,
            text: urlParams.get('message'),
            footer: 'Copyright 2021 &copy nexusx Development - All right reserved.'
        }).then((result) => {
            window.location.href = `/createbot`;
        })
    }
    if (urlParams.has('error') && urlParams.get('error')) {
        Swal.fire({
            icon: 'error',
            title: 'An Error occurred!',
            text: urlParams.get('message'),
            showCloseButton: true,
            footer: 'Copyright 2021 &copy nexusx Development - All right reserved.'
        }).then((result) => {
            window.location.href = `/createbot`;
        })
    }
    if (urlParams.has('successBot') && urlParams.get('successBot')) {
        Swal.fire({
            icon: 'success',
            title: 'Sucessfully Created the Bot',
            showCloseButton: true,
            text: 'Please notify the Customer and ask him/her for Feedback!',
            footer: 'Copyright 2021 &copy Nexusx Development - All right reserved.'
        }).then((result) => {
            window.location.href = `/createbot`;
        })
    }
</script>
</body>
</html>